* {
    box-sizing: border-box;
}

@font-face{
    font-family: 'LetterGothicStd';
    src: url('../fonts/LetterGothicStd.otf');
}

html{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'LetterGothicStd';
    background-color: #edf0f9;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0; 
}

h1{
    font-size: 20px;
}

h2{
    font-size: 20px;
}

.menu{
    background-color: white;
    position: fixed;
    z-index: 2;
}

.spacex{
    width:40%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: auto;
}

.item{
    background-color: #edf0f9;
    flex-flow: column;
    width: 100%;
    margin: 10px auto;
}

.header{
    margin-top: 7%;
}

.names{
    color: white;
    background-image: url('../images/village.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.nameList{
    font-size: 20px;
}

.name, .surname, .score{
    font-size: 30px;
}

.frankrijk{
    color: white;
    background-image: url('../images/france.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header, .frankrijk, .names{
    width: 100%;
    padding:40px;
    text-align:center center;
}

/*iPad*/
@media only screen and (min-width: 768px) {  
    .item:nth-of-type(1){
        width:100% ; 
    }      

    .item{
        width: 48%;
        margin: 1%;
    }

   h1{
        font-size: 20px;
    }

    .header, .frankrijk, .names{
        height: 131%;
    }
}

/*MacBook*/
@media only screen and (min-width: 1200px) {
    h1{
        font-size: 25px;
    }

    .header, .frankrijk, .names{
        height: 119%;
    }
}

/*iMac*/
@media all and (min-width: 1400px) {
    h1{
        font-size: 35px;
    }

    .item{
        width: 48.9%;
        margin: 10px 10px; 
    }

    .container{
        max-width:2100px;
        margin: auto;
    }
}
